.App {
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: var(--very-dark-cyan);
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 3rem 0;
}

.calculator-body {
  border-radius: 1rem 1rem 0 0;
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.tip-perc-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

.tip-perc {
  background-color: var(--very-dark-cyan);
  color: var(--white);
}

.tip-perc,
.tip-custom-input {
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-size: 1.5rem;
}

.tip-custom-input {
  text-align: center;
}

.output-panel {
  background-color: var(--very-dark-cyan);
  border-radius: 1rem;
  padding: 1.6rem;
  overflow: hidden;
}

.output-piece {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.output-piece h4 {
  color: var(--white);
  line-height: 1.2rem;
  text-align: left;
  margin-bottom: 1rem;
}

.output-piece h1 {
  color: var(--strong-cyan);
  font-size: 2.2rem;
}

h4 span {
  display: block;
  color: var(--grayish-cyan);
}

.reset-button {
  background-color: var(--strong-cyan);
  width: 100%;
  text-transform: uppercase;
  color: var(--very-dark-cyan);
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-top: 0.8rem;
}

.input-container {
  margin-bottom: 1.5rem;
  position: relative;
}

.input-icon {
  width: 1.6rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: var(--grayish-cyan);
}

.output-value {
  line-break: anywhere;
  line-height: 3rem;
  text-align: left;
}

.error-msg {
  color: chocolate;
}

@media (min-width: 700px) {
  .App {
    height: auto;
  }

  .logo {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 5rem;
  }

  .calculator-body {
    border-radius: 1rem;
    flex-direction: row;
    gap: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .panel {
    width: 50%;
  }

  .output-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .output-piece {
    margin-bottom: 0.5rem;
  }

  .output-piece h1 {
    font-size: 3rem;
  }
}
