:root {
  font-family: 'Space Mono', monospace;
  line-height: 24px;
  font-weight: 700;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --very-dark-cyan: hsl(183, 100%, 15%);
  --strong-cyan: hsl(172, 67%, 45%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(202, 50%, 97%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-grayish-cyan);
  overflow: hidden;
}

input {
  font-size: 1.5rem;
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  font-weight: 700;
  width: 100%;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  text-align: right;
}

button {
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}

button.selected {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

label {
  color: var(--dark-grayish-cyan);
  font-size: 1.2rem;
  display: block;
  text-align: left;
  margin-bottom: 0.8rem;
}

input::placeholder {
  color: var(--grayish-cyan);
}

.number-of-people-input,
.bill-input {
  padding-left: 3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
